/* ///////////////////// @media Responsive Web Design ///////////////////// */


/* // MARK: < 575px ~ */
@media(max-width:575px) {
    div#container-se input.form-control {
        width: 300px;
    }
}

/* // MARK: > 576px*/
@media(min-width:576px) {
    div#container-se input.form-control {
        width: 400px;
    }
}

/* // MARK: > 768px*/
@media(min-width:768px) {

}

/* // MARK: > 992px < 1200px*/
@media(min-width:992px) {
    div#container-se input.form-control {
        width: 700px;
    }
}

/* // MARK: > 1200px ~ */
@media(min-width:1200px) {

}


