.bred {
    border: 1px solid red;
}

.bblue {
    border: 1px solid blue;
}

.bgreen {
    border: 1px solid green;
}

.byellow {
    border: 1px solid yellow;
}


header {
    color: #333333;
    width: 100%;
    z-index: 90;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    background: #FFF;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.50);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.50);
}

header .container-fluid {
    width: 96%;
}

.topbar {
    padding: 8px 0px;
    height: 40px;
    max-height: 40px;
    font-size: 14px;
    background-color: #1E1E1E;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
    outline: 0;
}

.topbar-time {
    margin-left: 20px;
}

.topbar-lang .dropdown .dropdown-menu {
    min-width: auto;
}

a.nav-link {
    color: #ffffff;
    padding: 0;
}

.panel-heading .nav-item .nav-link {
    font-size: large;
    color: #28bee3;
}

.dropdown-header {
    color: #28bee3;
}

.dropbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.dropdown-menu.show {
    transform: translate3d(-125px, 21px, 0px);
}

.head-logo {
    cursor: pointer;
}

.link-search {
    cursor: pointer;
}

sec-header {
    position: relative;
    color: #333333;
    width: 100%;
    z-index: 89;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    background: #FFF;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.50);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0,0.50);
}

sec-header .container-fluid {
    width: 96%;
}

.sec-topbar {
    padding: 8px 0px;
    height: 50px;
    max-height: 50px;
    font-size: 14px;
    background-color: #333333;
    color: #fff;
}

div#container-se input.form-control {
    width: 300px;
    height: calc(1.5em + .75rem + 2px);
}

i.fas.fa-bars.fa-lg.l-bars {
    z-index: 95;
    cursor: pointer;
}

i.fas.fa-bars.fa-lg.l-bars:hover {
    background: -webkit-linear-gradient(90deg, rgba(255,0,254,1) 0%, rgba(183,0,255,1) 51%, rgba(0,212,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#adds {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.container-create-note {
    position: absolute;
    width: 650px;
    height: 100%;
    min-height: 120px;
    border-radius: 16px;
    background-color: #2a2d2e;
    transition: 0.2s;
}

.container-create-note.active {
    height: 0;
    min-height: 0px;
}

.wrapper {
    display: flex;
    width: 100%;
}

.l-sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 97;
    background: #2A2D2E;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 3px 20px 13px rgba(0,0,0,0.50);
    -webkit-box-shadow: 3px 20px 13px rgba(0,0,0,0.50);
}

.l-sidebar.active {
    margin-left: -250px;
}

.list-side-bars {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-break-l-sidebar-1 {
    background-color: transparent;
    border: 0;
    border-top: 1px solid #5e5e5e;
    display: block;
    height: 0;
    text-align: center;
    width: 100%;
}

.flex-container-account-users {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-container-account-users > div  {
    margin: 10px;
    text-align: left;
    line-height: 0.3rem;
}

.wrapper-img-users {

}

.wrapper-account-users {
    font-size: 0.9rem;
}

.img-users {
    color: #1E1E1E;
}

/*//////////////////////////////// note-container-01 ////////////////////////////////*/

.note-container-01 {
    width: 100%;
    height: 1500px;
}

.wrapper-note {
    width: 250px;
    height: 450px;
    border: 1px solid #d4d4d4;
    border-radius: 16px;
}

